page-welcome {
ion-content{
    background-color: firebrick !important;
    color:white !important;
    
    h1{
        color:white;
        text-align: center;
    }
    .pic {
        text-align:center !important;
       margin:auto !important;
        
    }
}

}
