page-groupchat {
    .background-image {
   // background-image: url('../assets/img/backgroud1.jpg') !important;
   // -webkit-background-image: url('../assets/img/backgroud1.jpg') !important;
 //   background-position: initial initial !important;
   // background-repeat: initial initial !important;
   //background-color: coral;
   //opacity: 0.8;
    
  //position: fixed;
  //left: 0;
  //right: 0;
  //z-index: 1;
  //display: block;
  // width: 100vw;
  //height: 100vh;
  // -webkit-filter: blur(3px);
 // -moz-filter: blur(3px);
  
  //-ms-filter: blur(3px);
 // filter: blur(3px);

  background-image: url('../assets/img/backgroud1.jpg') !important;
    -webkit-background-image: url('../assets/img/backgroud1.jpg') !important;
   opacity: 0.15;
    
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
   width: 100vw;
  height: 100vh;
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  
  -ms-filter: blur(5px);
  filter: blur(5px);
    }
  
   
    .messages{
      // background-color: firebrick;
        position:relative;
	z-index:2;
	color:#fff;
    }

}
